
<div class="form">


                <h2>Sign up</h2>

                  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <br>
                    <div class="name-field">
                      <div class="field fnames">
                        <%= f.text_field :first_name, autocomplete: "first name", placeholder: "First Name", :class => "input fname" %>
                      </div>

                      <div class="field lnames">
                        <%= f.text_field :last_name, autocomplete: "last name", placeholder: "Last Name", :class => "input lname" %>
                    </div>
                    </div>
                    <br>
                    <br>

                    <div class="field">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-Mail", :class => "input" %>
                    </div>
                    <br><br>

                    <div class="field">
                      <%= f.text_field :username, autocomplete: "username", placeholder: "Username", :class => "input" %>
                    </div>

                    <div class="field">
                      <% if @minimum_password_length %>
                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)", :class => "input" %>
                    </div><br>

                    <div class="field">
                      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", :class => "input" %>
                    </div><br><br>

                    <div class="btn-links">
                      <div class="actions">
                        <%= f.submit "Sign up", :class => "btn" %>
                      </div>
                      <div class="secondary-btn">
                        <small>Already a user? <%= link_to 'Click here', user_session_path, :class => "" %></small> 
                      </div>
                    </div>
                    

                    
                  <% end %>

                <%= render "devise/shared/links" %>

              
</div>