<div id="main">
  <div id="container">
  <div>
    <div class="banner">
      <%= image_tag 'avatar.png', :class => "avatar" %>
      <div class="user-info">
        <div class="info">
          <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
          <p>Username: <%= @user.username %></p>
          <p>E-Mail: <%= @user.email %></p><br>
          <p>Current Course: JavaScript</p>
          <div class="sign-out-btn"><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :class => "" %></div>
        </div>
        
      </div>
    </div>
    <div class="content">
      <div class="heading">
        <span>COURSES</span>
      </div>

      <div class="main-course html">
        <div class="status">
          <i data-feather="circle"></i>
        </div>
        <p><%= link_to "HTML", course_path(1) %></p>
      </div>
      <div class="main-course css">
        <div class="status">
          <i data-feather="circle"></i>
        </div>
        <p><%= link_to "CSS", course_path(2) %></p>
      </div>

      <div class="course js">
        <div class="status">
          <i data-feather="circle"></i>
        </div>
        <p><%= link_to "JAVASCRIPT", course_path(3) %></p>
      </div>
      <div class="course rb">
        <div class="status">
          <i data-feather="circle"></i>
        </div>
        <p><%= link_to "RUBY", course_path(4) %></p>
      </div>
      <div class="course etc">
        <!-- <div class="status">
         <i data-feather="circle"></i> 
        </div> -->
        <p>ETC. </p>
      </div>
      <div class="clear"></div>
    </div>
    
  </div>
    

  </div>
</div>